---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

/*
body {
      font-family: "Times New Roman", Times, serif;
}*/


.theorem {
    display: block;
    margin: 12px 0;
    font-size: 18px;
    font-style: italic;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.property {
    display: block;
    margin: 12px 0;
    font-size: 18px;
    font-style: italic;
}
.property:before {
    content: "Property.";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.proof:before {
    content: "Proof.";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}






















